/* Style du formulaire */
form {
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}
/* Style de l'affichage des étapes */
#visualization {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

#visualization div {
    margin-bottom: 5px;
    padding: 8px;
    background-color: #f9f9f9;
    border-radius: 3px;
}
